<form action="/user/create" method="POST">
    <!--<input type="text" name="authenticity_token" value="<%= form_authenticity_token %>">-->
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="text" name="user_name" placeholder="id">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password_confirm" placeholder="password">
    <input type="submit" value="등록">
    <!--토큰을 루비가 만들어서 보내줌-->
</form>